body {font-family: Verdana, arial, sans-serif;
    background-color: #F5F5F5;
    color: #3f2860;}
header {background-color: #9bC1C2;}
h1 {line-height: 200%;}
nav {text-align: center;
    text-decoration: bold;}