body {font-family: Verdana, arial, sans-serif;
    background-color: #F5F5F5;
    color: #3f2860;
    margin-left: auto;
    margin-right: auto;
    width: 80%;}
header {background-color: #9bC1C2;}
h1 {line-height: 200%;}
nav {text-align: center;
    text-decoration: bold;}
nav a {text-decoration: none;}